<h3>Dois objetos</h3>
<p>Empresa:</p>

<ul>
    <li><b>Nome: </b>{{dados.nome}} - <b>CNPJ: </b> {{dados.cnpj}}</li>
    <li>Telefone: {{dados.telefone}}</li>
    <li>Endereço: {{dados.endereco}}</li>
</ul>

<p>O meu gato se chama {{gato.nome}}</p>
<p>Ele tem {{gato.idade}} anos, e pesa {{gato.peso}} Kg</p>