<h3>Operações matemáticas fundamentais</h3>
<p><b>Número 1: </b>{{operacoes.num1}}</p>
<p><b>Número 2: </b>{{operacoes.num2}}</p>

<ul>
    <li><b>Soma: </b>{{operacoes.soma}}</li>
    <li><b>Subtração: </b>{{operacoes.subtracao}}</li>
    <li><b>Multiplicação: </b>{{operacoes.multiplicacao}}</li>
    <li><b>Divisão: </b>{{operacoes.divisao}}</li>
</ul>