<h1>{{titulo}}</h1>

<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>Código</th>
      <th>Data do Pedido</th>
      <th>Nome do Cliente</th>
      <th>CPF/CNPJ</th>
      <th>Valor Total</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each pedidos}}
      <tr>
        <td>{{this.codigo}}</td>
        <td>{{this.data_pedido}}</td>
        <td>{{this.nome_cliente}}</td>
        <td>{{this.cpf_cnpj_cliente}}</td>
        <td>R$ {{this.valor_total}}</td>
        <td><a href="/produtos/consultar/{{this.codigo}}">Consultar</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
